@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #5f231e;
  color: #e0e1dd;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;

  background: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #5f231e;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 13px 0;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;
  gap: 42px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 800px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 76px;

  border-radius: 0px 0px;

  background: #5f231e;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #e0e1dd;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }
  .header-title {
    width: 40px;
    height: 40px;

    margin-right: 300px;
  }
  .header {
    width: 100%;

    height: 72px;
    padding: 36px 80px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }

  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1200px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 152px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    display: flex;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .navigation__link:hover,
  .navigation__link:focus {
    background: transparent;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 800px;

  padding: 176px 20px 0;

  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/picture1\ 1.png");
}

.home-title {
  font-family: Orbitron;
  font-size: 42px;
  font-weight: 800;
  line-height: 52.67px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #42c7f5;
  text-shadow: 8px 7px 4px #06052340;
}
.home-text {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.81px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #6d0e0c;

  padding: 28px 0 34px;
}
.home__google-button_link {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 253px 0 0 80px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/home/щщ.png");
  }

  .home-title {
    font-family: Orbitron;
    font-size: 64px;
    font-weight: 800;
    line-height: 80.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 32.81px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 634px;
    padding: 34px 0 46px;
  }
  .home__google-button_link {
    display: flex;
    align-items: start;
    justify-content: start;
  }
}
.about {
  padding: 22px 0px 0;
  margin: auto;
  width: 375px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-pad {
  padding: 0 20px;
}
.about-title {
  font-family: Orbitron;
  font-size: 36px;
  font-weight: 700;
  line-height: 45.14px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f4a261;
  text-shadow: 5px 7px 4px #380a0a40;
}
.about-img {
  width: 375px;
  height: 233px;
  border-radius: 6px;
  margin: 32px 0 22px;
}

.about-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-text-bold {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #42c7f5;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 25px;
}
.about-item {
  display: flex;
  gap: 6px;
  align-items: center;
}
.about-item-img {
  width: 56px;
  height: 56px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 120px 80px 120px 0;

    width: 1440px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-pad {
    padding: 0px;
  }
  .about-container {
    display: flex;
    gap: 20px;
    padding-top: 32px;
  }
  .about-img {
    width: 710px;
    height: 443px;

    margin: 0;
  }

  .about-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 24px;
  }
  .about-item {
    display: flex;
    gap: 6px;
    align-items: center;
  }
}
.advantages {
  width: 375px;
  margin: auto;
  padding: 80px 0px 0px;
}
.advantages-img {
  width: 375px;
  height: 214px;
  border-radius: 6px;

  margin: 32px 0 22px;
}
.advantages-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    width: 1440px;
    padding: 0px 0px 120px 80px;
  }
  .advantages-container {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 32px;
    gap: 20px;
  }
  .advantages-img {
    width: 711px;
    height: 407px;

    margin: 0px;
  }
}

.gallery {
  width: 375px;
  margin: auto;
  padding: 80px 20px;
}

.gallery-list {
  width: 335px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 19px;
}

.gallery-item {
  width: 334px;
  height: 212px;
  padding: 12px;
}
.gallery-img {
  margin: auto;
}
.gallery-text-bold {
  padding: 12px 0 18px;
  color: #42c7f5;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.gallery-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
    padding: 0px 80px 120px;
  }
  .gallery-list {
    width: 1277px;
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 19px;
  }

  .gallery-item {
    width: 197px;
    height: 255px;
    padding: 12px;
  }
  .gallery-img {
    margin: auto;
  }
  .gallery-text-bold {
    padding: 12px 0 18px;
    width: 120px;
    margin: auto;
  }
}
.play {
  width: 375px;

  margin: auto;
  padding: 0px 20px 42px;
}

.play-list {
  padding-top: 32px;
  margin: auto;
}
.play-item {
  width: 305px;
  height: 269px;
  padding: 22px 24px 22px 24px;
  border-radius: 6px;
  background: #935954;
  margin: 0 10px;
}

.play-text-bold {
  color: #42c7f5;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.play-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.play-bottom {
  gap: 24px;
  display: flex;
  align-items: center;
  padding: 14px 0 12px;
}

@media screen and (min-width: 1200px) {
  .play {
    width: 1440px;

    margin: auto;
    padding: 0px 80px 80px;
  }

  .play-list {
    padding-top: 32px;
    margin: auto;
  }
}

.gallery-main {
  width: 375px;
  margin: auto;
  padding: 0px 0px 80px;
}

.gallery-main-list {
  padding-top: 32px;
  margin: auto;
  width: 375px;
}
.gallery-main-item {
  width: 335px;
  height: 188px;
  border-radius: 6px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
  width: 48px;
  height: 48px;
}

.gallery-button:hover {
  scale: 120%;
}

.button-visible {
  display: none !important;
}

.gallery-button-icon {
  width: 48px;
  height: 48px;
}
.gallery-button-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
  }
  .gallery-main {
    width: 1440px;
    margin: auto;
    padding: 0px 0px 120px 80px;
  }
  .gallery-main-list {
    padding-top: 32px;
    margin: auto;
    width: 1360px;
    padding-bottom: 24px;
  }
  .gallery-main-item {
    width: 413px;
    height: 232px;

    margin: 0 10px;
    overflow: hidden;
    position: relative;
  }
  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.footer {
  background: #42c7f5;

  padding: 28px 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: start;
}
.footer-text {
  font-family: Orbitron;
  font-size: 22px;
  font-weight: 400;
  line-height: 27.59px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #5f231e;
}

.footer-copyright {
  color: #5f231e;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 26px;
}
.footer-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 0px 180px;
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 1440px;
    gap: 42px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    padding: 44px 0;
    align-items: start;
  }
  .footer-text {
    font-family: Orbitron;
    font-size: 36px;
    font-weight: 400;
    line-height: 45.14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 44px 0;
  }
  .footer-img {
    display: flex;
    margin-top: -100px;
    margin-left: 83px;
  }
}
.policy-terms {
  flex-direction: column;
  align-items: start;
  padding: 114px 0px 51px;
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 0px 15px;
}
.policy-terms-title {
  font-family: Orbitron;
  font-size: 36px;
  font-weight: 700;
  line-height: 45.14px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f4a261;
  text-shadow: 5px 7px 4px #380a0a40;
}

.policy-terms-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link-color {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .policy-terms {
    flex-direction: column;
    align-items: start;
    padding: 157px 0px 100px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-container {
    flex-direction: column;
    align-items: start;
    padding: 0px 180px;
  }
}
